<a href="/">Back Home</a>
<hr/>
<div class="row">
  <form action="/new" method="POST">
    <label>Title</label>
    <input class="u-full-width" type="text" name="title">
    <input type="submit" value="Submit">
  </form>
</div>
